<div class="container-fluid">
  <app-search (searchEvent)="filterMovies($event)"></app-search>
  <div class="container-fluid">
    <h2 class="my-5 fw-bold text-black">Now Playing</h2>
    <div class="row row-cols-sm-1 row-cols-md-5 mt-4 g-3"
     *ngFor="let movie of filteredMoviesList"
     >
     <p>{{movie.title}}</p>
     
      <!-- @for(movie of moviesList; track movie.id){

      <app-movie-card
        [movieData]="movie"
        (sendToParent)="reciveFromChild($event)"
      ></app-movie-card>

      } -->

    </div>
  </div>
</div>

